@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background-1: var(
      --dark-background-1
    ); /* This is temporary color, we change value in context-theme */
    --main-background-2: var(--dark-background-2);
    --main-background-3: var(--dark-background-3);
    --main-accent: var(--accent-blue);

    --dark-background-1: 0 0 0;
    --dim-background-1: 22 33 44;
    --light-background-1: 255 255 255;

    --dark-background-2: 32 35 39;
    --dim-background-2: 39 51 64;
    --light-background-2: 239 243 244;

    --dark-background-3: 22 24 28;
    --dim-background-3: 30 39 50;
    --light-background-3: 247 249 249;

    --accent-yellow: 255 213 0;
    --accent-blue: 29 155 240;
    --accent-pink: 249 26 130;
    --accent-purple: 120 87 255;
    --accent-orange: 255 122 0;
    --accent-green: 0 184 122;
  }

  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply hover-animation bg-main-background-1 text-light-primary dark:text-dark-primary;
  }
}

@layer components {
  .hover-animation {
    @apply transition-colors duration-200;
  }

  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition decoration-1
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .main-tab {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-[#878a8c] focus-visible:transition-shadow 
           focus-visible:duration-200 dark:focus-visible:ring-white;
  }

  .accent-tab {
    @apply main-tab #{'focus-visible:!ring-main-accent/80'};
  }

  .accent-bg-tab {
    @apply focus-visible:bg-main-accent/10;
  }

  .dark-bg-tab {
    @apply focus-visible:bg-light-primary/10 dark:focus-visible:bg-dark-primary/10;
  }

  .blur-picture {
    @apply hover-animation accent-tab rounded-full transition hover:brightness-75 active:brightness-100;
  }

  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }

  .hover-card {
    @apply hover:bg-black/[0.03] focus-visible:bg-black/[0.03] dark:hover:bg-white/[0.03]
           dark:focus-visible:bg-white/[0.03];
  }

  .menu-container {
    @apply z-10 rounded-xl bg-main-background-1 outline-none drop-shadow-[0_0_5px_rgba(0,0,0,0.15)] dark:drop-shadow-[0_0_5px_rgba(255,255,255,0.15)];
  }

  .span-link {
    @apply text-accent-blue relative after:w-0 hover:after:w-full after:h-[1px] after:absolute after:-bottom-[2px] after:left-0 origin-[0_0] after:bg-accent-blue after:transition-all after:duration-200;
  }
}
